@import '~bootstrap/scss/bootstrap';

main {
    background-color: black;
    height: 100vh;
    width: 100vw;

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
}